/install/bin/TODO
/install/lib/TODO

*.o
*.so
# test samples
sample/IsOutputHDR
sample/enableSurroundDecoder
sample/getAudioConfig
sample/getCPUTemp
sample/getDSHalVersion
sample/getDisplayAttributes
sample/getDrmHdmiStatus
sample/getEDIDBytes
sample/getFPBrightness
sample/getHDCPStatus
sample/getHdmiPreference
sample/getHostEDID
sample/getSocIDFromSDK
sample/getVideoOutputPorts
sample/getZoomSettings
sample/hdmiIn
sample/isDisplayConnected
sample/ms12ProfileTest
sample/powerModeTest
sample/resetOutputToSDR
sample/setARCSAD
sample/setAudioDucking
sample/setAudioEnable
sample/setAudioGain
sample/setAudioLevel
sample/setAudioMode
sample/setAudioMute
sample/setBassEnhancer
sample/setDRCMode
sample/setDialogEnhancement
sample/setFPBrightness
sample/setFPColor
sample/setFPColorRGB
sample/setFPTextDisplay
sample/setFPTextTimeFormat
sample/setGraphicEQ
sample/setHdmiPreference
sample/setMISteering
sample/setResolution
sample/setSurroundVirtualizer
sample/setVolumeLeveller
sample/setZoomSettings
sample/testFrontPanel
